<div class="row mb-3">
  <div class="col-md-12">
    <label for="textbox1" class="form-label">Price</label>
    <input
      type="number"
      class="form-control"
      placeholder="Enter Price"
      [(ngModel)]="Price"
    />

    <label for="textbox2" class="form-label">Name</label>
    <input
      type="text"
      class="form-control"
      placeholder="Name"
      [(ngModel)]="name"
    />

    <label for="textbox3" class="form-label">Description</label>
    <input
      type="text"
      class="form-control"
      placeholder="Enter Description"
      [(ngModel)]="description"
    />
  </div>

  <div class="d-grid">
    <button (click)="onAddProduct()" class="btn btn-primary">
      Add product
    </button>
  </div>
</div>
